<table class='table'>
  <tr>
    <td colspan="2"><%= image_tag user.get_profile_image, size: '100x100' %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <th>Introduction</th>
    <td><%= user.introduction %></td>
  </tr>
  <tr>
    <th>Follow</th>
    <td>
      <%= link_to user.followings.count, followings_user_path(user), class: "btn btn-link" %> <!-- フォローページへのリンク -->
    </td>
  </tr>
  <tr>
    <th>Follower</th>
    <td>
      <%= link_to user.followers.count, followers_user_path(user), class: "btn btn-link" %> <!-- フォロワーページへのリンク -->
    </td>
  </tr>
</table>

<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>
