<%= form_with model: book, local: true do |f| %> <!-- ここで `book` を引数として受け取る -->
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  <div class="form-group">
    <% if book.new_record? %>
      <%= f.submit "Create Book", class: 'btn btn-success' %>
    <% else %>
      <%= f.submit "Update Book", class: 'btn btn-success' %>
    <% end %>
  </div>
<% end %>
